*,
body,
html {
    font-family: "OpenSans", sans-serif; 
}

.container {
   width: 1240px;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: auto;
   margin-right: auto; 
}

.header-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 100px 50px;
    grid-template-areas:
        "cy cy pe pe te te pm pm pm pm ln ln"
        "lo lo lo sh sh sh sh sh os os os os"
        "cg cg cg cg cg cg cg cs cs cs cs cs";
}

.header-city {
    grid-area: cy;
}

.header-phone {
    grid-area: pe;
}

.header-time {
    grid-area: te;
}

.header-problem {
    grid-area: pm;
}

.header-login {
    grid-area: ln;
}

.header-logo {
    grid-area: lo;
}

.header-search {
    grid-area: sh;
}

.header-options {
    grid-area: os;
}

.header-catalog {
    grid-area: cg;
}

.header-conditions {
    grid-area: cs;
}

.header-city,
.header-phone,
.header-time,
.header-problem,
.header-login,
.header-logo,
.header-search,
.header-options,
.header-catalog,
.header-conditions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 14px;
    border-bottom: #e1e2e8 1px solid;
}

.header-city__image-arrow {
    width: 15px;
}

.header-city__title-city {
    font-weight: 400;
    padding-left: 10px;
}

.header-city__link-chosen-city {
    font-weight: 400;
    text-decoration: underline;
    color: #afafaf;
    padding-left: 10px;
}

.header-phone__image-phone {
    width: 15px;
}

.header-phone__span-number {
    font-weight: 700;
    padding-left: 10px;
}

.header-time__image-clock {
    width: 15px;
}

.header-time__span-time {
    font-weight: 400;
    padding-left: 10px;
}

.header-time {
    margin-left: -30px;
}

.header-problem {
    padding-left: 25px;
}

.header-problem__link-dont-call {
    color: #f7bb03;
}

.header-login__image-avatar {
    width: 15px;
}

.header-login {
    color: #777;
    font-weight: 500;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.header-login > a {
    padding: 0 10px;
}

.header-login__link-singin {
    color: #000;
}

.header-login__link-reg {
    color: #a1a1a1;
}

.header-logo__image-logo {
    width: 300px;
}

.header-search {
    padding-left: 35px;
}

.header-search__input-search {
    width: 425px;
    line-height: 38px; 
    padding-left: 45px;
    border-radius: 20px;
    font-weight: 300;
    border: #dcdee4 1px solid;
    color: #bdbdbd;
    outline: none;
    background-image: url(../images/icon/svg/searching.svg);
    background-repeat: no-repeat;
    background-size: 50px 15px;
    background-position: 5px 12px;
}

.header-options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.header-options > a {
    padding: 0 10px;
}

.header-options > a:hover {
    font-weight: 500;
}

.header-options > a:last-child {
    padding-right: 0;
}

.header-options__image-favorites,
.header-options__image-compare,
.header-options__image-basket {
    width: 15px;
    padding-right: 5px;
}

.header-options__link-favorites,
.header-options__link-compare,
.header-options__link-basket {
    color: #000;
    text-decoration: none;
    font-weight: 400;
}

.header-catalog__button {
    width: 295px;
    height: 50px;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    background: #f7bb03;
    font-weight: 700;
    padding-left: 40px;
    background-image: url(../images/icon/svg/menu.svg);
    background-repeat: no-repeat;
    background-size: 100px 30px;
    background-position: 10px 10px;
    outline: 0;
    border: none;
}

.header-conditions {
    color: #6b6b6b;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.header-conditions > a {
    padding: 30px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.header-conditions > a:first-child {
    padding-left: 0;
}

.header-conditions > a:last-child {
    padding-right: 0;
}

.banner {
    margin-top: 20px;
}

.banner__imager-banner {
    width: 100%;
}

.multitool-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 125px;
    grid-template-areas:
        "ll ll ll ll ll"
        "dr wy sg fg at";
}

.multitool__label {
    grid-area: ll;
    color: #000;
    font-size: 30px;
    font-weight: 900;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.multitool__dealer {
    grid-area: dr;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    line-height: 40px;
}

.multitool__warranty {
    grid-area: wy;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    line-height: 40px;
}

.multitool__shipping {
    grid-area: sg;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    line-height: 40px;
}

.multitool__freeshipping {
    grid-area: fg;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    line-height: 40px;
}

.multitool__alltypes-payment {
    grid-area: at;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    line-height: 40px;
}

.multitool__dealer-image-handshake {
    width: 45px;
    margin-left: 60px;
}

.multitool__warranty-image-warranty {
    width: 45px;
}

.multitool__shipping-image-translation {
    width: 40px;
}

.multitool__freeshipping-image-shipping {
    width: 56px;
}

.multitool__alltypes-payment-image-wallet {
    width: 40px;
    margin-right: 80px;
}

.center-cut {
    width: 100%;
    height: 45px;
    border-bottom: #f3f4f6 1px solid;
}

.novelties-wrapper-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 120px 600px;
    grid-template-areas:
        "ll ll ll ll ll ll ll ll ll ll bs bs"
        "i1 i1 i1 i2 i2 i2 i3 i3 i3 i4 i4 i4";
    grid-gap: 10px;
}

.novelties__label {
    grid-area: ll;
    font-size: 30px;
    font-weight: 900;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.novelties__buttons {
    grid-area: bs;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.novelties__buttons-button-back {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border: none;
    background-image: url(../images/icon/png/arrows_square_left.png);
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
}

.novelties__buttons-button-forward {
    width: 45px;
    height: 45px;
    border: none;
    background-image: url(../images/icon/png/arrows_square_right.png);
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
}

.novelties__item1 {
    grid-area: i1;
}

.novelties__item2 {
    grid-area: i2;
}

.novelties__item3 {
    grid-area: i3;
}

.novelties__item4 {
    grid-area: i4;
}

.item-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 45px 265px 50px 90px 30px 45px 75px;
    grid-template-areas:
        "qu . ."
        "im im im"
        "bo bo bo"
        "ab ab ab"
        "st st st"
        "pr pr ."
        "bu bu bu";
    border: #e8eaef 1px solid;
}

.item__quantity {
    grid-area: qu;
}
.item__image {
    grid-area: im;
    background-image: url(../images/item-image.jpg);
    background-repeat: no-repeat;
    background-position-x: 40px;
}
.item__bonus {
    grid-area: bo;
    border-bottom: #e8eaef 1px solid;
}
.item__about {
    grid-area: ab;
}
.item__stars-and-reviews {
    grid-area: st;
    padding-left: 25px;
    padding-top: 10px;
}
.item__price {
    grid-area: pr;
    padding-top: 15px;
}
.item__buttons {
    grid-area: bu;
}

.item__quantity-container {
    width: 80px;
    background: #e8eaef;
    height: 45px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.item__quantity-image {
    width: 30px;
    padding-left: 10px;
}

.item__quantity-span {
    font-size: 18px;
    font-weight: 500;
    padding-left: 5px;
}

.item__bonus-container {
    margin-left: 25px;
    width: 90px;
    height: 30px;
    background: #fdf1cd;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.item__about {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 15px;
}

.item__about-text {
    font-size: 15px;
    font-weight: 700;
}

.item__image-star {
    width: 20px;
}

.item__stars-and-reviews-link {
    font-size: 14px;
    text-decoration: underline;
    color: #a8a8a8;
    padding-left: 15px;
}

.item__price-span {
    font-weight: 900;
    font-size: 22px;
    padding-left: 25px;
}

.item__price-span-underlined {
    font-weight: 400;
    font-size: 16px;
    text-decoration: line-through;
    padding-left: 15px;
}

.item__buttons {
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.item__buttons-inbasket {
    width: 169px;
    height: 48px;
    font-size: 14px;
    font-weight: 700;
    border: #f7bb03 1px solid;
    outline: none;
    cursor: pointer;
    background-image: url(../images/icon/png/shopping-cart-yellow.png);
    background-repeat: no-repeat;
    background-position: 25px 8px;
    padding-left: 35px;
}

.item__buttons-heart {
    width: 48px;
    height: 48px;
    outline: none;
    cursor: pointer;
    border: #e8eaef 1px solid;
    background-image: url(../images/icon/png/heart.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.item__buttons-diagram {
    width: 48px;
    height: 48px;
    outline: none;
    cursor: pointer;
    border: #e8eaef 1px solid;
    background-image: url(../images/icon/png/bar-chart-png.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.grey-wrapper {
    width: 100%;
    background: #f6f7f9;
    border-top: #f1f2f4 1px solid;
    border-bottom: #f1f2f4 1px solid;
    margin-top: 60px;
    padding-bottom: 60px;
}

.novelties__buttons-button-grey {
    background-color: #f6f7f9;
}

.novelties-item-bg-white {
    background: #fff;
}